.vscode/**
.vscode-test/**
.github/**
docs/**
scripts/**
.tmp/**
.npm-cache/**
src/**
out/test/**
.gitignore
tsconfig.json
**/*.map
node_modules/**
*.vsix
*.test.js
**/*.test.js
media/icon-outline.svg
media/icon-color.svg
media/icons-src/**
media/font/*.css
media/font/*.json
